@import "../list_page.scss";

#article_list {
  a:hover {
    text-decoration: none !important;
  }
}

.blogListItem {
  padding: 1em;
  margin: 0;
  margin-bottom: 1em;
  background-color: rgba(0,0,0,0.5);
  width: 100% !important;

  color: white;

  border-color: $as-primary;
  border-style: solid;
  border-width: 1px;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;

  
}

.blogListItem:hover {
  border-color: white; 
}

hr {
  margin: 0 !important;
  padding: 0 !important;
  background-color: white;
  height: 1px;
}

h2 {
  padding-top: 0.25em;
  height: 150px;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    height: 325px;
  }
}


.author_name {
  font-size: 1em;
  margin-top: 0 !important;
  margin-bottom: 2em;
  padding: 0;
}

.topic_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ListItem_topic {
  background-color: rgba (0,0,0,0);

  border-color: $as-primary;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  margin: 0.5em 0.5em 0em 0em;
  padding: 0.1em 0.25em 0.1em 0.25em;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}

.ListItem_topic:hover {
  background-color: $as-primary-back;
}